#Project Specific
chk-point-dir
datasets
kafka-avro/target
kafka-avro/src/main/resources/data/*.csv
kafka-avro-schema/target
kafka-json/target
spark-batch/target
spark-streaming/target


#SBT
target
project/target

# IntelliJ
.idea
.idea_modules
*.iml
*.ipr
*.iws
.history

# Maven
log/
target/

# Mac
.DS_Store
.*.swp
